<section class="posts">
  <div class="posts__container">

    <article class="posts__item">
      <a href="#" class="posts__image-link">
        <img src="@img/img.svg" alt="Управління кількома підприємствами" class="posts__image" />
      </a>
      <h2 class="posts__title">
        <a href="#" class="posts__title-link">Управління кількома підприємствами: Майстерність фінансової консолідації</a>
      </h2>
      <p class="posts__excerpt">
        Дізнайтеся, як ефективно керувати кількома підприємствами та чому консолідація обліку може допомогти вашій організації досягти кращих результатів у довгостроковій перспективі.
      </p>
      <div class="posts__category">Фінансова стратегія</div>
    </article>

    <article class="posts__item">
      <a href="#" class="posts__image-link">
        <img src="@img/img.svg" alt="Топ-10 рішень для управління витратами" class="posts__image" />
      </a>
      <h2 class="posts__title">
        <a href="#" class="posts__title-link">Топ-10 рішень для управління витратами у 2025 році</a>
      </h2>
      <p class="posts__excerpt">
        Добірка ключових інструментів, які допоможуть вам оптимізувати витрати в умовах сучасного бізнесу.
      </p>
      <div class="posts__category">Управління витратами</div>
    </article>

    <article class="posts__item">
      <a href="#" class="posts__image-link">
        <img src="@img/img.svg" alt="Регулювання електронного інвойсингу" class="posts__image" />
      </a>
      <h2 class="posts__title">
        <a href="#" class="posts__title-link">Регулювання електронного інвойсингу: Що змінюється у Великій Британії та Європі (оновлення 2025)</a>
      </h2>
      <p class="posts__excerpt">
        Огляд основних змін, що вплинуть на електронний документообіг у сфері закупівель та податкової звітності.
      </p>
      <div class="posts__category">Закупівлі</div>
    </article>

    <article class="posts__item">
      <a href="#" class="posts__image-link">
        <img src="@img/img.svg" alt="7-етапний процес закупівель" class="posts__image" />
      </a>
      <h2 class="posts__title">
        <a href="#" class="posts__title-link">7-етапний процес закупівель для фінансових команд</a>
      </h2>
      <p class="posts__excerpt">
        Детальний план для впровадження ефективної системи закупівель у фінансовому відділі.
      </p>
      <div class="posts__category">Закупівлі</div>
    </article>

    <article class="posts__item">
      <a href="#" class="posts__image-link">
        <img src="@img/img.svg" alt="Подорожні витрати за правилами HMRC" class="posts__image" />
      </a>
      <h2 class="posts__title">
        <a href="#" class="posts__title-link">Подорожні витрати за правилами HMRC: Посібник із витрат на бізнес-подорожі та оподаткування</a>
      </h2>
      <p class="posts__excerpt">
        Роз’яснення щодо правильного обліку витрат на відрядження згідно з податковими правилами Великої Британії.
      </p>
      <div class="posts__category">Витрати на бізнес-подорожі</div>
    </article>

  </div>
</section>
